@using Microsoft.AspNetCore.Http
@{
    if (Context.Session.GetInt32("id") == null)
    {
        Context.Response.Redirect(Url.Action("Index", "Login", null));
    }
    bool isManager = Context.Session.GetInt32("isManager") == 1 ? true : false;
}
@model UserModel
@using AppCore.Models
@{
    ViewData["Title"] = "Thông tin nhân viên";
}
<div class="header bg-primary pb-6">
    <div class="container-fluid ">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Nhân viên</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"><i
                                        class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="User">Nhân viên</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Chi tiết</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-7 order-xl-1">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Thông tin chi tiết</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" asp-for="User.Id" />
                            <h6 class="heading-small text-muted mb-4">Thông tin cá nhân</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-name">Họ và tên</label>
                                            <p class="card-text">@Model.User.Name</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-phone">Số điện
                                                thoại</label>
                                            <p class="card-text">@Model.User.PhoneNumber</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-address">Địa chỉ</label>
                                            <p class="card-text">@Model.User.Address</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4" />
                            <!-- Account -->
                            <h6 class="heading-small text-muted mb-4">Thông tin tài khoản</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">Tên tài
                                                khoản</label>
                                            <p class="card-text">@Model.User.Username</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-name">Vị trí</label>
                                            <p class="card-text">@Model.User.RoleName</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">Trạng
                                                thái</label>
                                            <p class="card-text">@Model.User.StatusName</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4" />
                            <idv class="row">
                                @if (isManager && Model.User.Status == USER_STATUS.DISABLED)
                                {
                                    <form asp-action="Active" asp-controller="User" method="POST" style="display: inline;">
                                        <input type="hidden" asp-for="@Model.User.Id" />
                                        <button type="submit" class="btn btn-xs btn-success">Kích hoạt</button>
                                    </form>
                                }
                                else if (isManager && Model.User.Status == USER_STATUS.ACTIVE){
                                    <form asp-action="Disable" asp-controller="User" method="POST" style="display: inline;">
                                        <input type="hidden" asp-for="@Model.User.Id" />
                                        <button type="submit" class="btn btn-xs btn-danger">Khóa</button>
                                    </form>
                                }
                                </idv>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 order-xl-2">
                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h3 class="mb-0">Danh sách Công việc</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="nav-wrapper">
                                    <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text"
                                        role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab"
                                                data-toggle="tab" href="#tabs-icons-text-1" role="tab"
                                                aria-controls="tabs-icons-text-1" aria-selected="true">Tạo</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab"
                                                href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2"
                                                aria-selected="false">Tham gia</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card shadow">
                                    <div class="card-body">
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel"
                                                aria-labelledby="tabs-icons-text-1-tab">
                                                <div class="table-responsive">
                                                    <table class="table align-items-center table-flush">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th scope="col">Id</th>
                                                                <th scope="col">Tên</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="list">
                                                            @foreach (var item in @Model.User.ToDoTasks)
                                                        {
                                                            <tr>
                                                                <th scope="row">@item.Id</th>
                                                                <td class="budget">@item.Title</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel"
                                            aria-labelledby="tabs-icons-text-2-tab">
                                            <div class="table-responsive">
                                                <table class="table align-items-center table-flush">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th scope="col">Id</th>
                                                            <th scope="col">Tên</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="list">
                                                        @foreach (var item in @Model.User.JointUsers)
                                                        {
                                                            <tr>
                                                                <th scope="row">@item.Id</th>
                                                                <td class="budget">@item.TaskTitle</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>