<table class="table align-items-center table-flush">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tiêu đề</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Người đảm nhiệm</th>
            <th scope="col">Ngày kết thúc</th>
            <th scope="col">Chia sẻ</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="list">
        @foreach (var item in @Model.Tasks)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td class="budget">@item.Title</td>
                <td>@item.StatusName</td>
                <td>@item.RegisteredUserName</td>
                <td>@item.EndDate.ToString("dd/MM/yyyy")</td>
                <td>@item.ScopeName</td>
                <td>
                    <a id="@item.Id" class="btn btn-icon btn-info" asp-action="TaskDetail" asp-controller="home"
                        asp-route-taskId=@item.Id>
                        <span class="btn-inner--icon">
                            <i class="ni ni-settings"></i></span>
                        <span class="btn-inner--text">Chi tiết</span>
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>