@using Microsoft.AspNetCore.Http
@model TaskViewModel
@{
    Layout = null;

    if (Context.Session.GetInt32("id") == null)
        Context.Response.Redirect(Url.Action("Index", "Login", null));
}

<input type="hidden" id="roleUser" value='@Context.Session.GetString("role")'>
<div class="modal-content">
    <div class="modal-body p-0">
        <div class="card bg-secondary border-0 mb-0">
            <div class="card-header bg-transparent ">
                <div class="text-muted text-center"><strong>
                        Công việc mới</strong>
                </div>
            </div>
            <div class="card-body">
                <form role="form" asp-action="AddNewTask" id="create-form">
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group" style="text-align:left">
                                    <label class="form-control-label" for="create-task-title">Tiêu đề</label>
                                    <input type="text" id="create-task-title" class="form-control " placeholder="">
                                    <span
                                        style="display:none; margin-top: 5px;margin-bottom:5px; font-style: italic; color: red; "
                                        id="title_err">Tiêu đề không được trống</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group" style="text-align:left">
                                    <label class="form-control-label" for="task-registered-user">Người
                                        thực hiện chính</label>
                                    @if (!Context.Session.GetString("role").Equals("manager"))
                                    {
                                        <select class="form-control" id="create-task-registered-user" disabled>
                                            <option value='@Context.Session.GetInt32("id")'>@Model.Name</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select class="form-control" id="create-task-registered-user"
                                            asp-items="@Model.Users">
                                        </select>
                                    }

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group" style="text-align:left">
                                        <label class="form-control-label" for="create-task-describe">Mô tả chi tiết công
                                            việc</label>
                                        <textarea style="text-align:left" class="form-control " id="create-task-describe"
                                            rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group" style="text-align:left">
                                        <label class="form-control-label" for="create-task-status">Trạng thái</label>
                                        <input type="text" id="create-task-status" class="form-control " value="Mới"
                                            disabled>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" style="text-align:left">
                                        <label class="form-control-label" for="task-title">Chia sẻ</label>
                                        <select class="form-control" id="create-task-scope"
                                            asp-items="Html.GetEnumSelectList<Scope>()">

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group" style="text-align:left">
                                        <label class="form-control-label" for="task-title">Ngày bắt đầu</label>
                                        @{
                                        DateTime d = DateTime.Now;
                                        string start_day = d.ToString("dd/MM/yyyy");
                                    }
                                    <input class="form-control  date-picker-format" style="background-color:#ffffff"
                                        value="@start_day" id="create-task-start-date" disabled>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group" style="text-align:left">
                                    <label class="form-control-label" for="task-title">Ngày kết thúc</label>
                                    <input class="form-control date-picker-format" style="background-color:#ffffff"
                                        id="create-task-end-date">
                                    <span
                                        style="display:none; margin-top: 5px;margin-bottom:5px; font-style: italic; color: red; "
                                        id="end_date_err">Hãy chọn ngày kết thúc</span>
                                </div>
                            </div>



                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="text-align: center;">
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary my-4" id="saveTask">Tạo công
                                        việc</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $('.date-picker-format').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy',
            minDate: 0,
            startDate: new Date()

        });
        $('#saveTask').on('click', function () {
            var form = $('#create-form');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            var title = $('#create-task-title').val();
            var day = $('#create-task-end-date').val();
            var startDate = moment($('#create-task-start-date').val(), 'DD/MM/YYYY').format('YYYY-MM-DD');

            if (title == null || title.trim() == "") {
                $('#title_err').css('display', 'block');
            }
            else {
                $('#title_err').css('display', 'none');
                if (day == null || day == "") {
                    $('#end_date_err').css('display', 'block');
                }
                else {
                    $('#end_date_err').css('display', 'none');
                    var endDate = moment(day, 'DD/MM/YYYY').format('YYYY-MM-DD');

                    $.ajax({
                        type: "post",
                        url: '@Url.Action("AddNewTask", "Home")',
                        data: {
                            __RequestVerificationToken: token,
                            task: {
                                Title: title,
                                Description: $('#create-task-describe').val(),
                                StartDate: startDate,
                                EndDate: endDate,
                                RegisteredUserId: $('#create-task-registered-user option:selected').val(),
                                Status: 0,
                                Scope: $('#create-task-scope option:selected').val()
                            },
                            role: $('#roleUser').val()
                        },
                        dataType: "html",
                        success: function (result) {
                            $("#create-form").modal("hide");
                            $("#partial").html(result);
                            $("#text_success").text("Thêm công việc thành công");
                            $("#success").fadeIn();
                        },
                        complete: function () {
                            setTimeout(function () {
                                $("#success").fadeOut();
                                $("#failed").fadeOut();
                            }, 2000)
                        },
                        error: function () {
                            $("#text_failed").text("Thêm công việc thất bại");
                            $("#failed").fadeIn();
                            setTimeout(function () {
                                $("#failed").fadeOut();
                            }, 2000)
                        }
                    });
                }

            }

        })
    });
</script>