@model TaskViewModel
@{
    ViewData["Title"] = "Chi tiết công việc";
}
@using Microsoft.AspNetCore.Http
@{
    if (Context.Session.GetInt32("id") == null)
        Context.Response.Redirect(Url.Action("Index", "Login", null));
}
<div style="display: none;z-index:1" class="alert alert-success alert-dismissible" id="success" role="alert">
    <span class="alert-icon"><i class="ni ni-like-2"></i></span>
    <span class="alert-text"><strong>Cập nhật thành công!</strong></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="header bg-primary pb-6">

    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-xl-5 order-xl-2">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">
                                    Bình luận
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="chats" id="chats">

                                        @foreach (var cmt in Model.TaskDetail.Comments)
                                        {
                                            <div>
                                                <span style="font-size:16px;font-weight:600">@cmt.UserPostName </span>
                                                <span
                                                    style="padding-left:10px;font-size:13px">@cmt.PostDate.ToString("dd/MM/yyyy")
                                                </span>
                                            </div>
                                            <p class="botMsg">@cmt.Content</p>
                                            <div class="clearfix">
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px">
                                <div class="col-lg-12">
                                    <div class="input-group mb-3">
                                        <textarea id="userInput" placeholder="Hãy nhắn ở đây..."
                                            class="form-control form-control-sm form-controll-flush"
                                            style="resize:none"></textarea>
                                        <div class="input-group-append">
                                            <button class="btn btn-primary btn-small" id="sendButton">
                                                <span class="btn-inner--icon"><i class="ni ni-send"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-7 order-xl-1">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">
                                    @Model.TaskDetail.Id - <span id="text_title">@Model.TaskDetail.Title</span>
                                </h3>
                                <input type='hidden' value="@Model.TaskDetail.Id" id="task_id">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="task-title">Tiêu đề</label>
                                            <input type="text" id="task-title" class="form-control form-control-muted"
                                                placeholder="" value="@Model.TaskDetail.Title">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="task-registered-user">Người
                                                thực hiện chính</label>
                                            <select class="form-control" id="task-registered-user"
                                                asp-items="@Model.Users">

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="task-description">Mô tả chi tiết công
                                                việc</label>
                                            <textarea style="text-align:left" class="form-control form-control-muted"
                                                id="task-description" rows="3">@Model.TaskDetail.Description</textarea>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="task-status">Tình trạng</label>
                                            <select class="form-control" id="task-status"
                                                asp-for="@Model.TaskDetail.Status"
                                                asp-items="Html.GetEnumSelectList<Status>()">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="task-scope">Trạng thái</label>
                                            <select class="form-control" id="task-scope"
                                                asp-for="@Model.TaskDetail.Scope"
                                                asp-items="Html.GetEnumSelectList<Scope>()">

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="task-start-date">Ngày tạo</label>
                                            @{
                                                string start_day = Model.TaskDetail.StartDate.ToString("dd/MM/yyyy");
                                                string end_day = Model.TaskDetail.EndDate.ToString("dd/MM/yyyy");
                                            }
                                            <input class="form-control form-control-flush date-picker-format"
                                                style="background-color:#ffffff" value="@start_day" id="task-start-date"
                                                disabled>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="task-end-day">Ngày kết thúc</label>
                                            <input class="form-control form-control date-picker-format"
                                                style="background-color:#ffffff" value="@end_day" id="task-end-date">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            @if (Model.TaskDetail.isDelayed)
                                            {
                                                <label id="check-task" class="form-control-label" style="color:red">Công
                                                    việc đã quá hạn</label>
                                            }
                                            else
                                            {
                                                <label id="check-task" class="form-control-label" style="color:green">Công
                                                    việc đang trong thời gian tiến hành</label>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="task-joint-users">Danh sách thành
                                                viên tham gia</label>
                                            <table class="table align-items-center table-flush" id="table_emp">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th scope="col">Họ và tên</th>
                                                        <th scope="col">Chức vụ</th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody class='list'>
                                                    @if(Model.TaskDetail.JointUsers.Count() == 0 ){
                                                        <tr id="row_empty">
                                                            <td class='text-center' colspan="3">
                                                                <strong>Danh sách rỗng</strong>
                                                            </td>
                                                        </tr>
                                                    }
                                                    else{
                                                        @foreach (var user in Model.TaskDetail.JointUsers)
                                                        {
                                                            <tr id="row_@user.UserId">
                                                                <td id="name_@user.UserId">
                                                                    @user.UserName
                                                                </td>
                                                                <td id="role_@user.UserId">
                                                                    @user.User.RoleName
                                                                </td>
                                                                <td class="text-right">
                                                                    <a id="@user.UserId"
                                                                        class="btn btn-icon btn-danger remove_user">
                                                                        <span class="btn-inner--icon">
                                                                            <i class="ni ni-fat-remove"
                                                                                style="color:#ffffff"></i></span>
                                                                        <span class="btn-inner--text"
                                                                            style="color:#ffffff">Xóa</span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    
                                                </tbody>

                                            </table>

                                            <div class="input-group" style="margin-top: 30px;">
                                                <select class="form-control" id="task-joint-users"
                                                    asp-for="@Model.jointUser" asp-items="@Model.UserNotJointed">

                                                </select>
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-primary" id="addUser"
                                                        type="button">Chọn</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Danh sách tập tin</label>


                                            @if (Model.TaskDetail.AttachedFiles.Count() == 0)
                                            {
                                                <input class="form-control form-control-flush"
                                                    style="background-color:#ffffff;font-style: italic;" disabled
                                                    value="Chưa có tập tin nào">
                                            }
                                            else
                                            {


                                                <ul class="list-unstyled" id="attach_files">
                                                    @foreach (var file in Model.TaskDetail.AttachedFiles)
                                                    {
                                                        <li>
                                                            <a href="~/Files/@file.FileUrl" download="@file.FileUrl" >@file.FileUrl</a>
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="custom-file">
                                            <div class="input-group mb-3">
                                                <input type="file" class="form-control" id="task-file">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-primary" type="button" id="upload">Tải lên</button>
                                                </div>
                                                <input type="hidden" class= "get_task_id" id="@Model.TaskDetail.Id">
                                            </div>

                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {

        var old_title = $('#task-title').val();
        var old_describe = $('#task-description').val();
        var task_id = $('#task_id').val();
        var start_date = $('#task-start-date').val();
        $('.date-picker-format').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy',
            minDate: 0,
            startDate: new Date()

        });
        $('#task-end-date').datepicker('option', 'minDate', 0);
        $('#task-end-date').change(function () {
            var date_selected = $(this).val();
            var act = 'Day';
            updateTask(act, date_selected)
        });
        $(document).on('change', '#task-registered-user', function () {
            var act = 'Registered';
            var value = $('#task-registered-user option:selected').val();
            updateTask(act, value)
        })

        $(document).on('keypress', '#task-title', function (e) {
            var action = 'Title';
            var value = $(this).val();
            if (value == old_title) {
                return;
            }
            else {
                if (e.which == 13) {

                    updateTask(action, value.trim());
                    old_title = value.trim();
                }
            }
        });

        $(document).on('focusout', '#task-title', function (e) {
            var action = 'Title';
            var value = $(this).val();
            if (value == old_title) {
                return;
            }
            else {
                updateTask(action, value.trim());
                old_title = value.trim();
            }

        });
        $(document).on('focusout ', '#task-description', function (e) {
            var action = 'Describe';
            var value = $(this).val();
            if (value == old_describe) {
                return;
            }
            else {
                updateTask(action, value.trim());
                old_describe = value.trim();
            }

        });
        $(document).on('change', '#task-status', function () {
            var value = $('#task-status option:selected').val();
            var act = 'Status';
            updateTask(act, value);
        })
        $(document).on('change', '#task-scope', function () {
            var value = $('#task-scope option:selected').val();
            var act = 'Status';
            updateTask(act, value);
        })
        $(document).on('click', '#addUser', function () {
            $('#addUser').prop('disabled', true);
            $(".remove_user").prop('disabled', true);
            var id = $('#task-joint-users option:selected').val();
            var act = 'Add Joint User';
            updateTask(act, id);
        });
        $(document).on('click', '.remove_user', function () {
            $('#addUser').prop('disabled', true);
            $(".remove_user").prop('disabled', true);
            var id = $(this).attr("id");
            var act = 'Remove Joint User';
            updateTask(act, id);

        });
        $(document).on('click', '#sendButton', function () {
            var act = 'Comment';
            var value = $('#userInput').val();
            updateTask(act, value);
        })
        $(document).on('click','#upload',function(){
            var temp = ($("#task-file"))[0].files;
            var id = $('.get_task_id').attr('id');
            if(temp.length > 0){
                var fileUrl = new FormData();
                fileUrl.append('file',temp[0]);
                fileUrl.append('id',id);
                $.ajax({
                        type: 'POST',
                        url: '@Url.Action("UploadFile","Home")',
                        dataType: 'json',
                        
                        data: fileUrl,
                        contentType: false,
                        processData: false,
                        success:function(data){
                            var html = '<li><a href="~/Files/'+data+'" download="'+data+'" >'+data+'</a></li>';
                            $('#attach_files').append(html);
                        }
                    })
            }
            

        });
        function setAddJointUser(id, role, name) {
            $('#addUser').prop('disabled', false);
            $(".remove_user").prop('disabled', false);
            var empty_id = $('#table_emp tr:last').attr('id');
            if (empty_id == "row_empty") {
                $("#row_empty").remove();
            }
            var str = '<tr id="row_' + id + '"><td id="name_' + id + '">' + name +
                '</td><td id="role_' + id + '">' + role +
                '</td><td class="text-right"><a id="' + id + '" class="btn btn-icon btn-danger remove_user">' +
                '<span class="btn-inner--icon"><i class="ni ni-fat-remove"style="color:#ffffff"></i></span><span class="btn-inner--text"' +
                'style="color:#ffffff">Xóa</span>' +
                '</td></tr>';
            $('table> tbody:last').append(str);
            $('option:selected', '#task-joint-users').remove();
            if ($('#task-joint-users').has('option').length == 0) {
                $('#addUser').prop('disabled', true);
                $('#task-joint-users').prop('disabled', true);
            }
        }
        function setRemoveJointUser(id, name, role) {
            $('#addUser').prop('disabled', false);
            $(".remove_user").prop('disabled', false);
            $("<option>").val(id).text(name).appendTo("#task-joint-users optgroup[label='" + role + "']");
            $("#row_" + id).remove();
            if ($('#task-joint-users').has('option').length > 0) {
                $('#addUser').prop('disabled', false);
                $('#task-joint-users').prop('disabled', false);
            }
            var tbody = $("#table_emp tbody");
            if (tbody.children().length == 0) {
                tbody.html('<tr id="row_empty"><td colspan="3" class="text-center"><strong>Danh sách rỗng<strong></td></tr>');
            }
        }
        function updateTask(action, val) {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateTaskDetail","Home")',
                dataType: 'json',
                data: {
                    action: action,
                    id: task_id,
                    val: val
                },
                success: function (data) {
                    switch (action) {
                        case 'Title':
                            $('#text_title').text(data);
                            $('#task-title').val(data);
                            break;
                        case 'Describe':
                            $('#task-description').val(data);
                            break;
                        case 'Day':
                            var d = new Date();

                            var month = d.getMonth() + 1;
                            var day = d.getDate();

                            var output = (day < 10 ? '0' : '') + day + '/' +
                                (month < 10 ? '0' : '') + month + '/' +
                                d.getFullYear();
                            if (new Date(output) <= new Date(data)) {
                                var temp = "Công việc đang trong thời gian tiến hành";
                                $("#check-task").text(temp);
                                $("#check-task").css("color", "green");
                            }
                            else {
                                var temp = "Công việc đã quá hạn";
                                $("#check-task").text(temp);
                                $("#check-task").css("color", "red");
                            }
                            break;
                        case 'Comment':
                            var cmt = data[data.length - 1];
                            var date = new Date(cmt.postDate);
                            var month = date.getMonth() + 1;
                            var day = date.getDate();
                            var str_date = (day < 10 ? '0' : '') + day + '/' +
                                (month < 10 ? '0' : '') + month + '/' +
                                date.getFullYear()
                            var html = '<div>' +
                                '<span style="font-size:16px;font-weight:600">' + cmt.userPostName + '</span>' +
                                '<span style="padding-left:10px;font-size:13px">' + str_date +
                                '</span></div><p class="botMsg">' + cmt.content + '</p>' +
                                '<div class="clearfix"></div>';
                            $('#chats').append(html);
                            break;
                        case 'Registered':
                            if (data.message == "yes") {
                                $("#row_" + data.NewUserId).remove();
                                if (tbody.children().length == 0) {
                                    tbody.html('<tr id="row_empty"><td colspan="3" class="text-center"><strong>Danh sách rỗng</strong></td></tr>');
                                }
                            }
                            $("<option>").val(data.OldUserId).text(data.OldName).appendTo("#task-joint-users optgroup[label='" + data.OldRole + "']");
                            $("#task-joint-users").find('option[value="' + data.NewUserId + '"]').remove();
                            if ($('#task-joint-users').has('option').length == 0) {
                                $('#addUser').prop('disabled', true);
                                $('#task-joint-users').prop('disabled', true);
                            }
                            break;
                        case 'Add Joint User':
                            var name = $('#task-joint-users option:selected').text();
                            var role = $('#task-joint-users option:selected').parent().attr('label');
                            setAddJointUser(data.id, role, name);
                            break;
                        case 'Remove Joint User':
                            var name = $("#name_" + val).text();
                            var role = $("#role_" + val).text();
                            setRemoveJointUser(val, name, role);

                            break;


                    }
                    $('#success').fadeIn();
                },
                complete: function () {
                    setTimeout(function () {
                        $('#success').fadeOut();
                    }, 2000)

                },
                error: function (xhr) {
                    alert(xhr);
                    flag_add = false;
                    flag_remove = false;
                }
            })
        };
    });

</script>